page {
  height: 100%;
}
.page {
  height: 100%;
  margin-top: 30rpx;
  font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, 'Droid Sans Fallback', 'Microsoft Yahei',
    sans-serif;
  background: #fff;
}

.column-photo {
  display: flex;
  height: 180rpx;
}

.photo {
  float: right;
  width: 150rpx;
  height: 150rpx;
}

.tip-photo {
  float: left;
  margin: 50rpx 50rpx 0rpx 30rpx;
  font-size: 35rpx;
}

.column {
  position: relative;
  display: flex;
  align-items: center;
  padding: 30rpx 0rpx 30rpx 0rpx;
  border-bottom: 1rpx solid #eee;
}
.inputColumn {
  float: left;
  font-size: 35rpx;
}

.tip {
  float: left;
  margin: 0rpx 50rpx 0rpx 30rpx;
  font-size: 35rpx;
}

.tip-check {
  margin: 45rpx 0rpx 20rpx 0rpx;
  font-size: 35rpx;
  text-align: center;
}

.checkbox {
  margin: 0rpx 20rpx 20rpx 20rpx;
}

.course-check {
  width: 99%;
  margin: 0 auto;
}

.grey {
  color: #545454;
}

.remarkBlock {
  display: block;
}

.remarkTitle {
  float: left;
  margin: 0rpx 50rpx 0rpx 30rpx;
  font-size: 35rpx;
}

.inputRemark {
  float: right;
  width: 65%;
  margin: 0rpx 20rpx 0rpx 220rpx !important;
  font-size: 35rpx;
}

.inputRemark textarea {
  width: 100%;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/*每张图片所占容器*/
.item {
  position: relative;
  display: inline;
}
/*小图片*/
.thumb {
  position: relative;
  margin: 10rpx;
}
/*删除按钮*/
.delete {
  position: absolute;
  right: 0;
  width: 40rpx;
  height: 40rpx;
}

.delete image {
  position: absolute;
  width: 30rpx;
  height: 30rpx;
}

.image {
  margin: 30rpx 0rpx 20rpx 0rpx;
  text-align: center;
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 90rpx;
  margin: auto;
  margin-bottom: 30rpx;

  color: #fff;
  background-color: #fe4c40;
  border-radius: 30px;
}

.rightArrow {
  position: absolute;
  right: 15rpx;
  float: right;
  width: 35rpx;
  height: 35rpx;
}
